@font-face {
  font-family: "AdineKirnbergRegular";
  src: url("../fonts/AdineKirnbergRegular.eot");
  src: url("../fonts/AdineKirnbergRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AdineKirnbergRegular.woff") format("woff"), url("../fonts/AdineKirnbergRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
