body {
  padding: 30px 15px;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  font-size: 14px; }

img {
  margin-bottom: 30px;
  padding: 0 10px;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out; }

img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

i {
  margin-right: 10px; }

.wrapper {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .wrapper .row {
    margin-right: 0;
    margin-left: 0; }
    .wrapper .row .col-sm-12.col-md.col-lg, .wrapper .row .col-sm-12.col-md-4.col-lg-3 {
      padding-right: 0;
      padding-left: 0; }
  .wrapper section {
    padding: 40px 60px 0 60px; }
    .wrapper section .section-title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: #2d7788;
      position: relative;
      margin-top: 0;
      margin-bottom: 20px; }
    .wrapper section ul li :hover {
      color: #2d7788; }
  .wrapper .sidebar-wrapper {
    background: #42A8C0;
    color: #fff;
    height: 100%; }
    .wrapper .sidebar-wrapper .profile-container {
      padding: 30px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center; }
      .wrapper .sidebar-wrapper .profile-container .name {
        font-size: 26px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px; }
      .wrapper .sidebar-wrapper .profile-container .tagline {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0; }
    .wrapper .sidebar-wrapper .contact-container {
      padding: 30px 0 0 10px;
      text-align: left;
      color: #ffffff; }
      .wrapper .sidebar-wrapper .contact-container ul li {
        margin-bottom: 15px;
        color: #ffffff; }
        .wrapper .sidebar-wrapper .contact-container ul li a {
          color: #ffffff; }
        .wrapper .sidebar-wrapper .contact-container ul li i {
          margin-right: 10px; }

@media screen and (max-width: 768px) {
  body {
    padding: 15px 15px;
    font-size: 10px; }
    body .container .wrapper section {
      padding: 15px 30px 0 30px; }
      body .container .wrapper section .section-title {
        font-size: 14px; }
    body .container .wrapper .sidebar-wrapper .profile-container .profile {
      max-width: 50%; }
      body .container .wrapper .sidebar-wrapper .profile-container .profile .name {
        font-size: 18px; } }
